<h1>Hello I'm an Index</h1>


<% @pizzas.each do |pizza|  %>
  <p>PIZZAS!!!... names: <%= pizza.pretty_name() %></p>
  <p>Order: <%=  pizza.quantity() %> x <%= pizza.topping() %></p>
  <p><a href="/pizzas/<%= pizza.id %>">Show Order</a></p>

  <form method="post" action="/pizzas/<%= pizza.id %>/delete" >
  <input type="submit" value="Delete Order">
  </form>

  <form method="get" action="/pizzas/<%= pizza.id %>/edit" >
  <input type="submit" value="Edit">
  </form>

  <hr>
<% end %>
